Package: linux-firmware-lemon
Version: 1.0
Section: base
Priority: optional
Architecture: armhf
Maintainer: Citronics <info@citronics.eu>
Description: Firmware for the Lemon board from two Git submodules, installed into /lib/firmware
